.game__manipulation{
  width: 250px;

  .manipulation__deck {
    cursor: pointer;

    margin-bottom: 40px;
    .deck-icon{
      width: 100%;
      height: auto;
    }
  }

  .manipulation__btn-container{
    .manipulation__btn {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      padding: 10px 0;
      color: #000;


      transition: 0.3s ;
    }
    .manipulation__btn:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

