.game__manipulation{
  width: 250px;

  .manipulation__deck {
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin-bottom: 40px;
    padding: 0;

    .deck-icon{
      width: 100%;
      height: auto;
    }
  }

  .manipulation__btn-container{
    .manipulation__btn {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      padding: 10px 0;
      color: #000;
      transition: 0.3s;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
}

